<html>
    <head>
        <title>Test</title>
        <style>
            body {
                background-color: #f7f7f7;
            }
        </style>
    </head>
    <body>
        <h1>Test Template</h1>
        {% for paragraph in paragraphs %}
            <p>{{ paragraph }}</p>
        {% endfor %}
    </body>
</html>